.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

[data-theme='dark'] .hero_title {
  color: rgb(255, 255, 255);
}
