/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-background-color: rgb(252, 251, 251);
  --ifm-color-primary: #db00fd;
  --ifm-color-primary: #0039d1;
  --ifm-color-primary-dark: #1490f3;
  --ifm-color-primary-darker: #0b8df5;
  --ifm-color-primary-darkest: #1567c0;
  --ifm-color-primary-light: #2b98f1;
  --ifm-color-primary-lighter: #38a1f7;
  --ifm-color-primary-lightest: #54aef9;
  --ifm-code-font-size: 95%;
  /* --ifm-navbar-background-color: #4752c4; */
	--ifm-menu-link-sublist-icon-filter: invert(100%) sepia(94%) saturate(17%) hue-rotate(223deg) brightness(104%) contrast(9%);
	--ifm-navbar-height: 64px;
	--ifm-navbar-link-color: rgba(0, 57, 209);
	--ifm-navbar-link-active-color: rgba(0, 57, 209);
	--ifm-navbar-link-hover-color: rgba(0, 57, 209);
  --docusaurus-highlighted-code-line-bg: rgba(4, 62, 234, 0);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: rgba(0, 57, 209);
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar {
  background-color: rgb(251, 251, 251);
  color: rgba(0, 57, 209);
  height: 3rem;
}
.items label {
  color: #fff
}
[data-theme='dark'] .navbar {
  background-color: #242526;
  color: #fff;
}
[data-theme='dark'] .navbar__item {
  color: #fff;
}
[data-theme='dark'] .navbar__link {
  color: #fff;
}
[data-theme='dark'] .urlstyle {
  color: #fff;
}
[data-theme='dark'] .urlstyle:hover {
  color: #fff;
}
.doc_title {
  color: white
}
.doc_subtitle {
  color: white
}
[data-theme='dark'] .doc_title {
  color: white
}
[data-theme='dark'] .doc_subtitle {
  color: white
}
.doc_title, .doc_subtitle {
  text-align: left
}
.home_button {
  justify-content: left;
}
.hero_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.image {
  position: relative;
  right: 0;
  margin-left: 20rem;
  width: 300px;
  height: 300px;
}
.logo {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .hero_container  {
    flex-wrap: wrap;
  }

  .image {
    margin-left: 0;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .title_container {
    margin-top: 3rem;
  }
}

.urlstyle {
  text-decoration: none;
  border-radius: 5px;
  color: black;
  text-align: center;
  width: 400px;
  height: 400px;
  padding: 1rem;
  margin: 1rem;
  transition: ease-in-out 0.5s;
}

.urlstyle:hover {
  text-decoration: none;
  color: black;
  box-shadow: 5px 5px 23px -5px blue;
  -webkit-box-shadow: 5px 5px 23px -5px blue;
  -moz-box-shadow: 5px 5px 23px -5px blue;
}
.center-homepage {
  justify-content: center;
}